@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComputerService</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="search_bar">
            <h1><a asp-action="Index" asp-controller="Home">BSOD</a></h1>
            <input type="search" placeholder="@Localizer["Find product"]" name="search" autocomplete="off" />
            <button id="submit_search">
				<img src="~/assets/imgs/search-icon.svg" alt="Search" />
            </button>
            <a asp-action="ShoppingCart" asp-controller="Home" class="shopping_cart">
				<img src="~/assets/imgs/cart-icon.svg" alt="Cart" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a asp-action="About" asp-controller="Home">@Localizer["About"]</a></li>
                <li><a asp-action="News" asp-controller="Home">@Localizer["News"]</a></li>
                <li><a asp-action="Feedback" asp-controller="Home">@Localizer["Feedback"]</a></li>
                <li><a asp-action="Sitemap" asp-controller="Home">@Localizer["Sitemap"]</a></li>
                <li>
                    <form method="post" asp-action="SetLanguage" asp-controller="Home" asp-route-returnUrl="@Context.Request.Path">
                        <select 
                            name="culture" onchange="this.form.submit();" 
                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                            asp-items="cultureItems">
                        </select>
                    </form>
                </li>
			</ul>
		</nav>
    </header>
    <hr />
    <main>
        @RenderBody()
    </main>
    <hr />
    <footer>
        <p>
            @Localizer["Copyright"]
        </p>
        <nav>
            <ul>
                <li><a asp-action="Index" asp-controller="Support">@Localizer["Support"]</a></li>
                <li><a asp-action="Contacts" asp-controller="Home">@Localizer["Contacts"]</a></li>
                <li><a asp-action="Map" asp-controller="Home">@Localizer["Directions"]</a></li>
                <li><a asp-action="History" asp-controller="Home">@Localizer["History"]</a></li>
                <li><a asp-action="Login" asp-controller="Admin">@Localizer["I'm admin"]</a></li>
            </ul>
        </nav>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
