@using ComputerService.ViewModels
@model IEnumerable<ReviewViewModel>
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["Reviews"];
}

<h2>@Localizer["Reviews"]</h2>

<div class="reviews_list">
	<a asp-action="Review" asp-controller="Feedback" class="btn">@Localizer["Leave a review"]</a>
	@foreach (var message in Model)
	{
		<div class="review">
			<span class="date">
				<span class="stars">
					@for(int i = 0; i < message.Rating; i++)
					{
						<svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#fff"><path d="M233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Z" /></svg>
					}
					@for (int i = 0; i < 5 - message.Rating; i++)
					{
						<svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="none" stroke="#fff" stroke-width="40"><path d="M233-120l93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Z" /></svg>
					}
				</span>
				@message.Date.ToString("dd MMM yyyy")			
			</span>
			<span class="name">@message.AuthorName</span>
			<p>@message.Text</p>
		</div>
	}
</div>