@using System.Globalization
@using ComputerService.ViewModels
@model (IEnumerable<ProductViewModel> Products, IEnumerable<CategoryViewModel> Categories)
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["All products"];
}

<h2>@Localizer["All products"]</h2>

<div class="main_page">
	<div class="categories_side_bar">
		<h3>@Localizer["Categories"]</h3>
		@if(Model.Categories.Any())
		{
			<ul>
				@foreach (var category in Model.Categories)
				{
					<li>
						<a asp-action="Category" asp-controller="Products" asp-route-categoryId="@category.Id">@category.Name</a>
					</li>
				}
			</ul>
		}
	</div>
	<div class="products_list">
		@if (Model.Products.Any())
		{
			@foreach (var product in Model.Products)
			{
				<a class="product_item" asp-action="Product" asp-controller="Products" asp-area="Admin" asp-route-id="@product.Id">

					<div class="product_image">
						<img src="@(product.ImageUrls.FirstOrDefault())" alt="@product.Name" />
					</div>
					<div class="product_info">
						<span class="price">@(product.Price.ToString("N0")) ₽</span>
						<h3>@product.Name</h3>
					</div>
				</a>
			}
		}
	</div>
</div>

